html,
body {
  background: #666;
  border: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

main {
  background: #eee;
  box-sizing: border-box;
  border: 1rem solid #333;
  border-radius: 0.25rem;
  color: #222;
  flex: 1;
  margin: 3rem auto;
  max-width: 1000px;
  min-width: 320px;
  padding: 2rem;
  width: 100%;
  width: calc(100% - 6rem);
}

h1 {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}

h2 {
  font-size: 1.75rem;
  margin: 2rem auto 1rem auto;
}

p,
ul,
pre.code {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
}

p.note {
  background: rgba(0, 0, 0, 0.075);
  border-left: 0.25rem solid #222;
  padding: 0.5rem;
}

p.note::before {
  content: 'Note: ';
  font-weight: bold;
}

pre.code {
  background: #333;
  color: #ddd;
  overflow-x: auto;
  padding: 1rem;
}
